<div id="card">
  <h2 id="term">
    <%= @card.term %>
  </h2>
  <h4 id="meaning">
    <%= @card.meaning %>
  </h4>
<%= form_for @card do |f| %>
  <%= f.hidden_field :done, :value => true %>
<% end %>
</div>
<div id="stats">Cards to go: <strong><%= @not_done %></strong> out of <%= @done + @not_done %> Card deck: <strong><%= @card.group_id  %></strong></div>
